.link {
    color: #6c63ff;
    text-decoration: underline;
    cursor: pointer;
}

.linkTab:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blueviolet;
}

.add {
    cursor: pointer;
}

.hospitalName {
    width: 259px;
}

